<aside><h2>Create new contact</h2></aside>

<section class="container">
  <form action='/contacts' method='post'>
    <ul>
      <li>First Name: <input type='text' name='first_name'></li>
      <li>Last Name:<input type='text' name='last_name'></li>
      <li>Email: <input type='text' name='email'></li>
      <li>Note: <input type='text' name='note'></li>
      <li><input type='submit' value='New Contact'></li>
    </ul>
  </form>
</section>
