<section class="contacts_list">
  <ul>
    <li>
      <h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
      <hr>
      <p><strong>Email:</strong> <%= @contact.email %></p>
      <p><strong>Note:</strong></p>
      <br>
      <p><%= @contact.note %></p>
    </li>
  </ul>
</section>
